{{!-- exersise --}}
{{!-- <div id="question">
  <p>{{questions.question}}</p>
  <p>{{questions.code}}</p>
  <label for="answer">{{questions.label}}</label>
  <input type="text" name="answer" id="answer-input" spellcheck="false" maxlength={{questions.maxlength}}
    style={{questions.width}}>
  <p id="correct-answer" class="hide">CORRECT! <a href={{questions.next}}>Next ></a></p>
  <p id="wrong-answer" class="hide">INCORRECT, Try again!</p>
  <button id="answer-button" data-answer={{questions.answer}}>Submit Answer</button>
  <button id="show-answer">Show Answer</button>
</div> --}}
{{!-- show answer --}}
{{!-- <div id="answer" class="hide">
  <p>{{questions.question}}</p>
  <p>{{questions.code}}</p>
  <p>{{questions.label}}{{questions.answer}}</p>
  <button id="hide-answer">Show Answer</button>

</div> --}}


<div  class="containerTwo">
  <!-- <div class="btn-bar">
        <button class="button is-dark previous-btn">Previous</button>
        <button class="button is-dark next-btn">Next</button>
      </div> -->
  <div id="question" class="exersise">
    <div id="questionTitle" class="is-12 questionTitle">
      {{questions.question}}
    </div>
    <div id="questionContent" class="is-12 questionContent">
      {{questions.code}}
    </div>
  </div>
  <div class="control">
    <label for="answer">{{questions.label}}</label>

    <input type="text" name="answer" id="answer-input" spellcheck="false" maxlength={{questions.maxlength}}
      class="input is-warning" type="text" />
    <button id="answer-button" data-answer={{questions.answer}} class="button is-dark submit-btn">Submit</button>
    <p id="correct-answer" class="hide">CORRECT! <a href={{questions.next}}>Next ></a></p>
    <p id="wrong-answer" class="hide">INCORRECT, Try again!</p>
  </div>
  <div class="divider"></div>

  <div id="hintBox" class="hintBox">
    <button id="show-answer" class="button is-dark">Show answer</button>
    Need some help?
  </div>

</div>


<footer class="footer navBtm">
  <button class="logtOutBtn button is-light">
    Log out
  </button>
</footer>

